.yrThenForecast {
    display: inline-block;
}

.yrthen .yrthen-icon {
  width: 40px;
}

.yrthen .yrthen-day {
  padding-left: 0;
  padding-right: 25px;
}

.yrthen .yrthen-icon-cell {
  padding-right: 10px;
  text-align: center;
}

.yrthen .yrthen-temp {
  padding-left: 20px;
  padding-right: 0;
}

.yrthen .yrthen-rain {
  padding-left: 20px;
  padding-right: 0;
}

.yrthen-timecell {
  text-align: center;
}